.button {
  background-color: #00a53c;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  border: 0;
}
.button:hover:not(:disabled) {
  background-color: #008831;
}
.button:not(:active):not(:disabled) {
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.15), 0 2px 4px hsla(0, 0%, 0%, 0.12);
}
.button:focus {
  outline: 0;
}
.largeButton {
  font-size: 20px;
  padding: 16px 24px;
}
.fullWidthButton {
  width: 100%;
}
.button:disabled {
  background-color: #777;
}
